@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Dancing+Script&family=Smooch+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Shadows+Into+Light&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-image: url("../IMG/pizzabackground1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/* header brand */
.tagline {
    text-align: center;
    font-size: xx-large;
    font-family: 'BhuTuka Expanded One', cursive;
    font-weight: bolder;
    color: white;
}

/* navbar styling */

.navbar {
    background-color: rgb(63, 68, 92);
    opacity: 0.5;
    color: white;
    height: 15vh;
    text-align: center;
}
.nav-link , .navbar-brand {
    color: white;
    font-size: larger;
}
.navbar-nav {
    text-align: center;
    margin-left: 43%;
}

/* place order */

.order {
    background-color: white;
    color: black;
    height: 60vh;
    width: 30%;
    margin: 5%;
    margin-top: 0;
    font-family: 'Patrick Hand', cursive;
}
.order h6 {
    margin-left: 35%;
}
.size , .crust , .toppings {
    padding: 10px;
}
.order button {
    margin-left: 35%;
}

/* cart */

.mycart {
    width: 30%;
    font-family: 'Patrick Hand', cursive;
    border-radius: 0%;
    color: black;

}
.block1 {
    display: flex;
    margin-top: 2%;
}

.btn {
    background-color: black;
}

th , td {
    padding: 10px;
}